<div class="col-md-4">
    <div class="card mb-4">
        <img src="/assets/{{imagen}}" class="card-img-top" alt="{{nombre}}">
        <div class="card-body">
            <h5 class="card-title">{{nombre}}</h5>
            <button class="btn btn-success btn-add-to-cart" data-product="{{nombre}}"><i class="fa-solid fa-cart-plus"></i> Añadir al Carrito</button>
        </div>
    </div>
</div>